<div class="col-lg-6 col-lg-offset-3">
  <h2>Register</h2>
  <div ng-if="loginError.length &gt; 0" class="alert alert-danger">{{loginError}}</div>
  <form ng-submit="signup()">
    <input required="required" name="username" type="text" placeholder="Username" ng-model="user.username" class="form-control"/>
    <input required="required" name="password" type="password" placeholder="Password" ng-model="user.password" class="form-control"/>
    <input required="required" name="repassword" type="password" placeholder="Retype Password" ng-model="user.repassword" class="form-control"/>
    <input required="required" name="email" type="email" placeholder="Email" ng-model="user.email" class="form-control"/>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <p>Already have an account?</p><a href="#/login">Login</a>
</div>