<h1>Todo List</h1>
<table class="table">
  <thead>
    <tr>
      <td>Task</td>
      <td>Status</td>
      <td>Action</td>
      <td>Remove</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input ng-model="task.name" name="name" type="text" class="form-control"/>
      </td>
      <td></td>
      <td>
        <button ng-click="addTask()" class="btn btn-primary">Add</button>
      </td>
      <td></td>
    </tr>
    <tr ng-repeat="task in todolist track by $index">
      <td>{{task.name}}</td>
      <td>
        <div ng-if="task.status == 0">Not Finished</div>
        <div ng-if="task.status == 1">Finished</div>
      </td>
      <td>
        <button ng-if="task.status == 0" ng-click="marktaskdone(task._id)" class="btn btn-info">Mark Done</button>
        <button ng-if="task.status == 1" ng-click="marktasknotdone(task._id)" class="btn btn-info">Mark Not Done</button>
      </td>
      <td>
        <button ng-click="removetask(task._id)" class="btn btn-danger">Remove</button>
      </td>
    </tr>
  </tbody>
</table>