thead td{
	font-weight: bold;
	width: 25%;
}

.nav-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}