doctype html
html(ng-app="myApp")
  head
    title= (app.name + " - " + app.desc)
    base(href="/")
    meta(charset="utf-8")
    meta(name="author" content="" + app.author + "")
    meta(name="keywords" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='/css/style.css')
    block head_end

  body

    nav.navbar.navbar-default(ng-controller="NavbarController")
        .container-fluid
            .navbar-header
                .logo.pull-left
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.nav-brand(href="/") #{app.name}
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right(ng-if="$root.authUser != null")
                    li
                        a Logged in as {{$root.authUser.name}}
                    li
                        a(href="" ng-click="logout()") Logout 
                            span.fa.fa-sign-out
                ul.nav.navbar-nav.navbar-right(ng-if="$root.authUser == null")
                    li
                        a(href="/login")  Login 
                            span.fa.fa-sign-in
                    li  
                        a(href="/signup")  Signup 
                            span.fa.fa-pencil-square-o
    
    .container-fluid
        div(ng-view)

    footer
        p.text-center &copy; 2015 #{app.name}

    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(type='text/javascript' src='//code.angularjs.org/1.4.7/angular-route.min.js')
    script(src="/js/app.js")
    script(src="/js/directives/directives.js")
    script(src="/js/controllers/controllers.js")
    script(src="/js/services/services.js")

    block body_end